<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>
<body>

<h2>Product Detail</h2>

<div >
    <img th:src="${product.thumbnail}" alt="Product Thumbnail" width="300" height="300">
    <p th:text="${product.name}"></p>
    <p th:text="${product.description}"></p>
    <p th:text="'Price: $' + ${product.price}"></p>
    <p th:if="${product.priceDiscount != null}" th:text="'Discounted Price: $' + ${product.priceDiscount}"></p>
    <p th:text="'Rating: ' + ${product.rating}"></p>
</div>

</body>
</html>